
.text-center{
    text-align: center;
    }
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    background-color: rgb(124, 71, 28);
    color: darkblue;
    border: 2px solid darkred;
    font-family: 'Oswald', sans-serif;
}
footer{
    height: 15vh;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.container{
    min-height: 75vh;
    min-width: 80vw;
    position: relative;
}

.slide img{
    display: block;
    margin: auto;
    
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 20%;
    color: black;
    background-color: rgba(120, 122, 240, 0.904);
    padding: 8px 19px;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right: 32vw;
}
.prev{
    left: 32vw;
}
.slide{
    background-color: rgb(193, 181, 194);
    display: none;
}
nav ul a{
    padding: 10px;   
}

nav ul a:hover{
    font-weight: bolder;   
}
.search input{
    width: 20vw;
    position: absolute;
    right: 40%;  
}
.search button{
    position: absolute;
    right: 36%;  
}
.search button:hover{
    font-weight: bolder;   
}
.card{
    display: inline-flex;
    flex-direction: row;
    margin: 25px;
    padding: 25px;
    overflow: hidden;
    
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 25px;
    padding: 5px 25px;
}
.container h2{
    background-color: aqua;
    font-family: 'Oswald', sans-serif;
   
}

